In [8]:
import sqlite3
conn=sqlite3.connect('car.db')

In [9]:
# create a table
# Table - car

In [10]:
qry_create_table="""create table car(carid text,carmake text,carmodel text,caryear int);"""

In [12]:
# use the conn object that we have created to execute all the queries
# we call     .execute(QUERY) method from conn object to run queries

In [13]:
conn.execute(qry_create_table)

In [14]:
qry_create_user_table="""create table owner(owner_name text,owner_id int,owner_car_number text);"""
conn.execute(qry_create_user_table)

In [ ]:
# insert some values into database

In [15]:
qry_insrt_car_db='''INSERT INTO car (carid, carmake, carmodel, caryear)
VALUES ('1958', 'Maruthi800', '1990', '1995'); '''

In [16]:
conn.execute(qry_insrt_car_db)
conn.commit()

In [17]:
# for inserting the values into tables, we need to commit the query for which we run
# .commit() method

In [18]:
multiple_rows = [
    ('1959', 'Maruthi Esteem', '1990', '1997'),
    ('1947', 'BMW', '1980', '1997'),
    ('1950', 'Piaggio', '1999', '2000'),
    ('1959', 'Maruthi', '1990', '1997'),
    ('1912', 'Esteem', '1990', '1997'),
    ('1911', 'Kya', '1990', '1997'),
    ('1933', 'Premier', '1990', '1997'),
    ('1999', 'Padmini', '1990', '1997'),
    ('1913', 'Contessa', '1990', '1997'),
    ('1901', 'merc', '1990', '1997'),
    ('1900', 'Maruthi Esteem', '1990', '1997')
]

In [19]:
qry_insertmany = """ 
INSERT INTO car 
VALUES (?,?,?,?)"""

In [20]:
# to insert multiple rows, we use execute many method
# .executemany(query,data)

In [21]:
conn.executemany(qry_insertmany, multiple_rows)

In [22]:
conn.commit()

In [23]:
#select queries

In [24]:
qry_select_all = "select * from car;"

In [25]:
# when we run the select queries then a response obj is returned which will have the data
# we use that obj for further operations

In [27]:
#conn.execute(qry_select_all)
data=conn.execute("select * from car;")

In [28]:
data

In [29]:
# use a for loop to read the data
for each_row in data:
    print(each_row)

('1958', 'Maruthi800', '1990', 1995)
('1959', 'Maruthi Esteem', '1990', 1997)
('1947', 'BMW', '1980', 1997)
('1950', 'Piaggio', '1999', 2000)
('1959', 'Maruthi', '1990', 1997)
('1912', 'Esteem', '1990', 1997)
('1911', 'Kya', '1990', 1997)
('1933', 'Premier', '1990', 1997)
('1999', 'Padmini', '1990', 1997)
('1913', 'Contessa', '1990', 1997)
('1901', 'merc', '1990', 1997)
('1900', 'Maruthi Esteem', '1990', 1997)

In [43]:
def queryfun(query,db='car.db'):
    conn=sqlite3.connect(db) # Connect to your DB
    cursor = conn.cursor() # Open a cursor to perform database operations
    try:
        cursor.execute(query)
        if query.strip().lower().startswith("select"):
            result = cursor.fetchall()
            conn.close()
            return result
        else:
            conn.commit()
            conn.close()
            return "Query updated successfully."
            
    except sqlite3.Error as e:
        conn.close()
        return f"An error occurred: {e}"
        
result = queryfun("SELECT * FROM car;")
for row in result:
    print(row)
#above line is giving output from select.

#Now, Update the carmake of the car with carid = '1958' from 'Maruthi800' to 'Maruti Suzuki 800'

query_update="""update car set carmake='Maruti Suzuki 800' where carid = '1959';"""
result_update = queryfun(query_update)
print(result_update)

#now I want to delete a row based on carid 1950
delete_query = "DELETE FROM car WHERE carid = '1950';"
delete_result = queryfun(delete_query)
print(delete_result)

('1958', 'Maruti Suzuki 800', '1990', 1995)
('1959', 'Maruti Suzuki 800', '1990', 1997)
('1947', 'BMW', '1980', 1997)
('1959', 'Maruti Suzuki 800', '1990', 1997)
('1912', 'Esteem', '1990', 1997)
('1911', 'Kya', '1990', 1997)
('1933', 'Premier', '1990', 1997)
('1999', 'Padmini', '1990', 1997)
('1913', 'Contessa', '1990', 1997)
('1901', 'merc', '1990', 1997)
('1900', 'Maruthi Esteem', '1990', 1997)
Query updated successfully.
Query updated successfully.

In [38]:
#Update the carmake of the car with carid = '1958' from 'Maruthi800' to 'Maruti Suzuki 800'