In [2]:
# Problem Statement
# Write the code snippets to show different ways of creating list for the following
# scenario.
# Scenario:
# Consider that you are using pandas to evaluate details for making a fantasy cricket
# team called “My Super”. Here are the details:
# • Player - Name of the player
# • Team - Player belongs to which country
# • Matches - Total number of matches played
# • Innings - Total number of innings played
# • NO - Total number of NOT OUT
# • Runs - Total number of runs
# • HS - Highest score
# • Average - Batting average
# • 100s - Total number of hundreds scored
# • 50s - Total number of fifties scored
# Few experts have recommended the player details based on performance in
# different leagues. You have collected all the recommendations with records for each
# player. The following dataset shows the details:

In [3]:
# Player Team Matches Innings NO Runs HS Average 100s 50s
# Alex Team 1 251 242 39 12040 183 59.31 43 60
# Henry Team 2 77 75 11 3580 125 55.93 12 16
# Evan Team 1 224 217 32 9115 264 49.27 29 43
# John Team 3 232 216 39 8574 181 48.44 21 51
# William Team 4 126 122 3 4822 153 41.02 16 26
# James Team 5 143 126 30 5507 185 47.47 12 35
# Liam Team 6 123 121 6 5267 179 45.80 18 21
# Oliver Team 4 151 144 14 6173 148 47.48 13 39

In [4]:
# # List of Lists
# players_data = [
#     ["Alex", "Team 1", 251, 242, 39, 12040, 183, 59.31, 43, 60],
#     ["Henry", "Team 2", 77, 75, 11, 3580, 125, 55.93, 12, 16],
#     ["Evan", "Team 1", 224, 217, 32, 9115, 264, 49.27, 29, 43],
#     ["John", "Team 3", 232, 216, 39, 8574, 181, 48.44, 21, 51],
#     ["William", "Team 4", 126, 122, 3, 4822, 153, 41.02, 16, 26],
#     ["James", "Team 5", 143, 126, 30, 5507, 185, 47.47, 12, 35],
#     ["Liam", "Team 6", 123, 121, 6, 5267, 179, 45.80, 18, 21],
#     ["Oliver", "Team 4", 151, 144, 14, 6173, 148, 47.48, 13, 39]
# ]

In [ ]:
# List Using Tuples

# Protects data from accidental changes.

# players_tuple = [
#     ("Alex", "Team 1", 251, 242, 39, 12040, 183, 59.31, 43, 60),
#     ("Henry", "Team 2", 77, 75, 11, 3580, 125, 55.93, 12, 16),
#     ("Evan", "Team 1", 224, 217, 32, 9115, 264, 49.27, 29, 43),
#     ("John", "Team 3", 232, 216, 39, 8574, 181, 48.44, 21, 51),
#     ("William", "Team 4", 126, 122, 3, 4822, 153, 41.02, 16, 26),
#     ("James", "Team 5", 143, 126, 30, 5507, 185, 47.47, 12, 35),
#     ("Liam", "Team 6", 123, 121, 6, 5267, 179, 45.80, 18, 21),
#     ("Oliver", "Team 4", 151, 144, 14, 6173, 148, 47.48, 13, 39)
# ]

In [5]:
# using dictionaries
# players_dict = [
#     {"Player": "Alex", "Team": "Team 1", "Matches": 251, "Innings": 242, "NO": 39, "Runs": 12040, "HS": 183, "Average": 59.31, "100s": 43, "50s": 60},
#     {"Player": "Henry", "Team": "Team 2", "Matches": 77, "Innings": 75, "NO": 11, "Runs": 3580, "HS": 125, "Average": 55.93, "100s": 12, "50s": 16},
#     {"Player": "Evan", "Team": "Team 1", "Matches": 224, "Innings": 217, "NO": 32, "Runs": 9115, "HS": 264, "Average": 49.27, "100s": 29, "50s": 43},
#     {"Player": "John", "Team": "Team 3", "Matches": 232, "Innings": 216, "NO": 39, "Runs": 8574, "HS": 181, "Average": 48.44, "100s": 21, "50s": 51},
#     {"Player": "William", "Team": "Team 4", "Matches": 126, "Innings": 122, "NO": 3, "Runs": 4822, "HS": 153, "Average": 41.02, "100s": 16, "50s": 26},
#     {"Player": "James", "Team": "Team 5", "Matches": 143, "Innings": 126, "NO": 30, "Runs": 5507, "HS": 185, "Average": 47.47, "100s": 12, "50s": 35},
#     {"Player": "Liam", "Team": "Team 6", "Matches": 123, "Innings": 121, "NO": 6, "Runs": 5267, "HS": 179, "Average": 45.80, "100s": 18, "50s": 21},
#     {"Player": "Oliver", "Team": "Team 4", "Matches": 151, "Innings": 144, "NO": 14, "Runs": 6173, "HS": 148, "Average": 47.48, "100s": 13, "50s": 39}
# ]

In [6]:
# 3️⃣ Separate Lists for Each Column
# pandas columns for a DataFrame

Player = ["Alex", "Henry", "Evan", "John", "William", "James", "Liam", "Oliver"]
Team = ["Team 1", "Team 2", "Team 1", "Team 3", "Team 4", "Team 5", "Team 6", "Team 4"]
Matches = [251, 77, 224, 232, 126, 143, 123, 151]
Innings = [242, 75, 217, 216, 122, 126, 121, 144]
NO = [39, 11, 32, 39, 3, 30, 6, 14]
Runs = [12040, 3580, 9115, 8574, 4822, 5507, 5267, 6173]
HS = [183, 125, 264, 181, 153, 185, 179, 148]
Average = [59.31, 55.93, 49.27, 48.44, 41.02, 47.47, 45.80, 47.48]
Hundreds = [43, 12, 29, 21, 16, 12, 18, 13]
Fifties = [60, 16, 43, 51, 26, 35, 21, 39]

In [7]:
# a. Create the list of floats that contains batting averages of different players [59.31,
# 55.93, 49.27, 48.44] and assign it to the variable batting_avg

In [8]:
batting_avg=[59.31, 55.93, 49.27, 48.44, 41.02, 47.47, 45.80, 47.48]

In [9]:
batting_avg

[59.31, 55.93, 49.27, 48.44, 41.02, 47.47, 45.8, 47.48]

In [10]:
type(batting_avg)

list

In [11]:
# c. Create the list of strings that contain player names ["Alex", "Henry", "Evan",
# "John"] and assign it to the variable player_names

In [12]:
player_names=["Alex", "Henry", "Evan", "John", "William", "James", "Liam", "Oliver"]

In [13]:
player_names

['Alex', 'Henry', 'Evan', 'John', 'William', 'James', 'Liam', 'Oliver']

In [14]:
# d. Create the list of mixed data types containing player details ['Alex', 12040, 59.31]
# and assign it to the variable player_details

In [15]:
player_details= ["Alex", "Team 1", 251, 242, 39, 12040, 183, 59.31, 43, 60]

In [16]:
player_details

['Alex', 'Team 1', 251, 242, 39, 12040, 183, 59.31, 43, 60]

In [17]:
# e. Create an empty list using index operator and list constructor

In [29]:
my_lista=[]

In [30]:
my_lista

[]

In [4]:
# f. You can convert a string to a list using the split method. Split method converts
# every word separated by a space into an element in a list.
# Create a list using split
# Split the string, default is by space
'Sam Stewart'.split()

['Sam', 'Stewart']

In [6]:
# ii. Separate strings based on a specific character.
# Pass the character you would like to split into the argument, which is a comma in this case.
# Split the string by comma
'Sam, Alex, Richard, Ross'.split(',')
# The result is a list, and each element is separated by a comma

['Sam', ' Alex', ' Richard', ' Ross']

In [7]:
# Access elements using index
batting_avg = [59.31, 55.93, 49.27,48.44]
print(batting_avg[0])
print(batting_avg[1])
print(batting_avg[2])

59.31
55.93
49.27

In [8]:
for each in batting_avg:
    print(each)

59.31
55.93
49.27
48.44

In [9]:
# negative indexing
print(batting_avg[-1])

48.44

In [13]:
 # Nested List
# A list can also have other lists, tuples, and data structures as an element. This is called 'nested' list.
nested_list_ex = ["Alex", 12040, 59.31, ["Team1", 251], (43, 60)]
for each in nested_list_ex:
    print(each)

Alex
12040
59.31
['Team1', 251]
(43, 60)

In [14]:
nested_list_ex[3][0]

'Team1'

In [15]:
nested_list_ex[4][0]

43

In [19]:
# Slicing
# Access number of elements in a list using slicing [ start : end ]
# Slice indexes from 0th to 2nd in the list
# [start index: inclusive] [end index: exclusive]
# Slice indexes 0th to 2nd
batting_avg = [59.31, 55.93, 49.27,48.44,41.02]
batting_avg

[59.31, 55.93, 49.27, 48.44, 41.02]

In [20]:
batting_avg[0:3]

[59.31, 55.93, 49.27]

In [21]:
# b. Obtain the last two elements of the list
batting_avg[3:5]

[48.44, 41.02]

In [22]:
batting_avg[5]

IndexError: list index out of range

In [24]:
# c. Find the length of a list
len(batting_avg)

5

In [25]:
# Extend a List
# Add new elements to the list from another list using the extend() method.
# Apply extend [41.02,47.47] to add two new elements to the list
# # Use extends to add elements to list
batting_avg = [59.31, 55.93, 49.27,48.44]
batting_avg.extend([41.02,47.47])
batting_avg

[59.31, 55.93, 49.27, 48.44, 41.02, 47.47]

In [26]:
# Append a List
# Add one element at the end of the list using the append() method.
# Use append to add elements to list
# If we append the list [41.02,47.47], a new element will be added consisting of a nested list.

batting_avg = [59.31, 55.93, 49.27,48.44]
batting_avg.append([41.02,47.47])
batting_avg

[59.31, 55.93, 49.27, 48.44, [41.02, 47.47]]

In [27]:
# Since lists are mutable, we can alter them.
# Modify the first element of the list
# Change the first element
batting_avg = [59.31, 55.93, 49.27,48.44]
print('Batting average before change :', batting_avg)
batting_avg[0] = 60
print('Batting average after change:', batting_avg)

Batting average before change : [59.31, 55.93, 49.27, 48.44]
Batting average after change: [60, 55.93, 49.27, 48.44]

In [28]:
# Insert an element at a desired index position
# Insert element at 2nd index
batting_avg = [59.31, 55.93, 49.27,48.44]
print('Batting average before insert :', batting_avg)
batting_avg.insert(2, 60)
print('Batting average after insert:', batting_avg)

Batting average before insert : [59.31, 55.93, 49.27, 48.44]
Batting average after insert: [59.31, 55.93, 60, 49.27, 48.44]

In [29]:
# Delete an element of a list using del command
# Delete the first element from the list
batting_avg = [59.31, 55.93, 49.27,48.44]
print('Before deleting :', batting_avg)
del(batting_avg[0])
print('After deleting:', batting_avg)

Before deleting : [59.31, 55.93, 49.27, 48.44]
After deleting: [55.93, 49.27, 48.44]

In [30]:
# Concatenation and Repetition
# Use + sign operator to combine lists
# Concatenate two list
my_list = [59.31, 55.93]
my_list2 = my_list + [49.27,48.44]
my_list2

[59.31, 55.93, 49.27, 48.44]

In [31]:
 # Use * sign to repeat the elements of the list for a given number of times
# Repeat
my_list = [59.31, 55.93]
my_list * 2

[59.31, 55.93, 59.31, 55.93]

In [36]:
# Create a list
# A sample list
batting_avg = [47.48,45.80,47.47,59.31,49.27,55.93]
b=sorted(batting_avg)
print(b)

[45.8, 47.47, 47.48, 49.27, 55.93, 59.31]