In [1]:
# 1 Problem Statement
# Write the code snippets to show different ways of creating Python sets for the
# following scenario.
# Scenario:
# Assume that you want to evaluate player details for making a fantasy cricket team
# called “My Super”. Here are the details:
# • Player - Name of the player
# • Team - Player belongs to which country
# • Matches - Total number of matches played
# • Innings - Total number of innings played
# • NO - Total number of NOT OUT
# • Runs - Total number of runs
# • HS - Highest score
# • Average - Batting average
# • 100s - Total number of hundreds scored
# • 50s - Total number of fifties scored
# Few experts have recommended the player details based on performance in
# different leagues. You have collected all the recommendations with records for each
# player. The following dataset shows the details:

In [2]:
# Player Team Matches Innings NO Runs HS Average 100s 50s
# Alex Team 1 251 242 39 12040 183 59.31 43 60
# Henry Team 2 77 75 11 3580 125 55.93 12 16
# Evan Team 1 224 217 32 9115 264 49.27 29 43
# John Team 3 232 216 39 8574 181 48.44 21 51
# William Team 4 126 122 3 4822 153 41.02 16 26
# James Team 5 143 126 30 5507 185 47.47 12 35
# Liam Team 6 123 121 6 5267 179 45.80 18 21
# Oliver Team 4 151 144 14 6173 148 47.48 13 39

In [4]:
# 1️⃣ Using curly braces {}
player_set = {"Alex", "Henry", "Evan", "John", "William", "James", "Liam", "Oliver"}
print("Set using {}:", player_set)

Set using {}: {'John', 'Henry', 'Liam', 'Alex', 'William', 'Oliver', 'James', 'Evan'}

In [5]:
# Cricket dataset
players = ["Alex", "Henry", "Evan", "John", "William", "James", "Liam", "Oliver"]
teams = ["Team 1", "Team 2", "Team 1", "Team 3", "Team 4", "Team 5", "Team 6", "Team 4"]
matches = [251, 77, 224, 232, 126, 143, 123, 151]
innings = [242, 75, 217, 216, 122, 126, 121, 144]
runs = [12040, 3580, 9115, 8574, 4822, 5507, 5267, 6173]
high_scores = [183, 125, 264, 181, 153, 185, 179, 148]

In [6]:
 # Using set() with a list
team_set = set(teams)
print("Set from list:", team_set)

Set from list: {'Team 4', 'Team 5', 'Team 3', 'Team 6', 'Team 2', 'Team 1'}

In [7]:
# Using set() with a tuple
runs_tuple = tuple(runs)
runs_set = set(runs_tuple)
print("Set from tuple:", runs_set)

Set from tuple: {5507, 12040, 5267, 4822, 9115, 3580, 6173, 8574}

In [8]:
# Creating an empty set
empty_set = set()
print("Empty set:", empty_set)

Empty set: set()

In [9]:
#  a. Create the set of strings that contain country names {"England", "India",
# "Australia", "Pakistan", "India", "New Zealand", "India", "South Africa"} and assign it
# to the variable countries
countries = {"England", "India", "Australia", "Pakistan", "India", "New Zealand", "India", "South Africa"}
countries

{'Australia', 'England', 'India', 'New Zealand', 'Pakistan', 'South Africa'}

In [10]:
# c. Create a set from a list that contains player names ["Alex", "Henry", "Evan",
# "John", "William", "Henry"] and assign it to the variable player_names
player_names={"Alex", "Henry", "Evan", "John", "William", "Henry"}
player_names

{'Alex', 'Evan', 'Henry', 'John', 'William'}

In [11]:
type(player_names)

set

In [12]:
 # Add an element to a set by using the add() method
# Sample set
players = set(["Alex", "Henry", "Evan", "John", "William"])
players

{'Alex', 'Evan', 'Henry', 'John', 'William'}

In [16]:
# Add element to set
players.add("Liam")
players

{'Alex', 'Evan', 'Henry', 'John', 'Liam', 'William'}

In [18]:
# Try to add duplicate element to the set
players.add("Henry")
players

{'Alex', 'Evan', 'Henry', 'John', 'Liam', 'William'}

In [20]:
# Remove the element from set
players.remove("Henry")
players

{'Alex', 'Evan', 'John', 'Liam', 'William'}

In [21]:
# Verify if the element is in the set
"Alex" in players

True

In [26]:
# Set Mathematical Operations
# Many of the operations that work for other compound data do not make sense for set as it cannot be indexed or sliced.
# To perform mathematical set operations such as difference, symmetric difference,intersection, and union, sets are used.
# Sample Sets
odi_players = set(['Alex', 'Henry', 'William'])
t20_players = set([ 'Alex', 'Henry', 'John'])
# Print two sets
print(odi_players)
print(t20_players)

{'William', 'Henry', 'Alex'}
{'Henry', 'John', 'Alex'}

In [23]:
# a. Use & Operator
# Find the players who play both the formats
# Find the intersections use & operator
list_A_players = odi_players & t20_players
list_A_players

{'Alex', 'Henry'}

In [24]:
# Find the intersections by using intersection function
list_A_players = odi_players.intersection(t20_players)
list_A_players

{'Alex', 'Henry'}

In [28]:
# Find the players in ODI but not in T20
# Use – operator
print(odi_players - t20_players)

{'William'}

In [30]:
# Find the players in ODI but not in t20
# Use difference function
t20_players.difference(odi_players)

{'John'}

In [31]:
# The union of two sets corresponds to all the elements in both the sets.
# You can find the union of two sets either using | operator or union function.

In [32]:
# For example, find all the selected players for ODI and T20.
# a. Use | operator
# Find the union of two sets
# Use | operator
print(odi_players | t20_players)

{'William', 'John', 'Henry', 'Alex'}

In [36]:
# Find the union of two sets
# Use union function
print(odi_players.union(t20_players))

{'William', 'John', 'Henry', 'Alex'}

In [34]:
# Set Symmetric Difference
# Symmetric difference of two sets A and B is a set of elements in A and B but not in both.
# You can find the Symmetric difference of two sets either by using ^ operator or symmetric_difference() function.

In [38]:
# Find all the players who are either selected for ODI or T20 but not for both.
# a. Use ^ operator
# Symmetric difference of two sets
# Use ^ operator
print(odi_players ^ t20_players)

{'William', 'John'}

In [39]:
# useing symmetric_difference function
# Symmetric difference of two sets
# Use ^ operator
print(odi_players.symmetric_difference(t20_players))

{'William', 'John'}

In [40]:
# Superset and Subset
# Check if superset
set(odi_players).issuperset(t20_players)

False

In [45]:
# Check if subset
print(odi_players)
print(t20_players)
set(odi_players).issubset(t20_players)

{'William', 'Henry', 'Alex'}
{'Henry', 'John', 'Alex'}

False

In [46]:
# Check if superset
odi_players.issuperset({'Henry', 'William'})

True

In [51]:
# Consider the list, players_list = ['James', 'Liam', 'Liam', 'James'] and
# set players_set = set(['James', 'Liam', 'Liam', 'James']). Write a code 
players_list = ['James', 'Liam', 'Liam', 'James']
players_set= set(['James', 'Liam', 'Liam', 'James'])
print(players_set)

len(players_list) == len(players_set)

{'James', 'Liam'}

False

In [ ]:
# Write a code to create a new set, selected_players that is the union of
# odi_set =set(['James', 'Liam', 'Oliver']) and t20_set = set([ 'James', 'Liam', "William"])

In [53]:
odi_set =set(['James', 'Liam', 'Oliver'])
odi_set

{'James', 'Liam', 'Oliver'}

In [55]:
t20_set = set([ 'James', 'Liam', "William"])
t20_set

{'James', 'Liam', 'William'}

In [57]:
unionsetteam=odi_set|t20_set
unionsetteam

{'James', 'Liam', 'Oliver', 'William'}

In [58]:
# Write a code to find out if odi_set is a subset of selected_players
odi_set.issubset(['James', 'Liam', 'Oliver','asma'])

True